*{
    margin: 0px;
    padding: 0px;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    background-color: #e5e5e5; 
}


h1{
    font-size: 40px;
    margin: 40px;
}
  
h2{
    font-size: 20px;
    margin-left: 20px;
}

p{
    font-size: 17px;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 40px;
}
button{
    width: 50%;
    height: 40px;   
    border-radius: 5px;
    font-size: 35px;
    color: white;
    background-color: black;
    cursor: pointer;

  }
  
textarea{
    width:96%;
    height: 80px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-top: 7px;
    border-radius: 5px;
    border-width: 1.5px;
    margin-top: 4px;
    font-size: 15px;
    box-sizing: border-box;
    margin-left: 2%;
}

#ContenedorGeneral{
    height: 100%;
    width: 100%;
    display: flex;
}
#Contenedor1{
    flex: 3;
}
#Contenedor2{
    flex: 1;
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
}

#Opciones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
}

.Opciones{
    flex: 1;
    max-width: 350px;
    min-width: 300px;
    min-height: 250px;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
}

.Opciones img{
    width: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.Opciones:hover{
    background-color: #9bbce2;
}

#Notas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#Notas1{
    flex:1;
}
#Notas2{
    flex:1;
    min-width: 100px;
    text-align: center;
}

.notas{
    background-color: #f3eea3;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
.notas p{
    margin-bottom: 20px;
}
.notas h4{
    text-align: right;
    margin: 10px;
}




@media screen  and (max-height:750px){
    #ContenedorGeneral{
        height: auto;
    }
} 


@media screen  and (max-width:1350px){
    #ContenedorGeneral{
        height: auto;
    }

    #Contenedor1{
        flex: 2;
    }
    .Opciones{
        max-width: 400px;
        min-width: 300px;
    }
   
}    

@media screen  and (max-width:1200px){
    .Opciones{
        max-width: 350px;
        min-width: 250px;
    } 
   
}    
   

@media screen  and (max-width:890px){

    .Opciones{
        min-width: 95%;
    }
    #Contenedor1{
        flex: 1.5;
    }
}    
@media screen  and (max-width:750px){
    .Opciones{
        max-width: 350px;
        min-width: 250px;
    }
    #ContenedorGeneral{      
        display: inline-block;
    }
}    
@media screen  and (max-width:600px){
    .Opciones{
        min-width: 95%;
    }
  
}    

  