body {
  margin: 0;
  overflow: hidden;
  display: flex;
  height: 100vh;
  flex-direction: column;

}

#arContainer {
  width: 100%;
  height: 80%;
}

#buttonContainer {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Agrega el scroll vertical */
  padding-bottom: 10px; /* Agrega espacio para el scroll */
}

.button {
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

html.a-fullscreen .a-canvas {
  width: 100% !important;
  height: 80% !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  position: fixed !important;
}
