*{
    margin: 0px;
    padding: 0px;
}

html,body{
    width: 100%;
    height: 100%;  
    font-family: "Roboto", sans-serif;
    background-color: #182244;
}


h1{
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 40px;
}
  
h2{
    font-size: 20px;
}

input{
    width: 96%;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-top: 7px;
    border-radius: 5px;
    border-width: 1.5px;
    margin-top: 4px;
    margin-bottom: 20px;
    font-size: 15px;
    box-sizing: border-box;
  }


  button{
    width: 96%;
    height: 40px;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 17px;
    margin-bottom: 40px;
    cursor: pointer;
  }

  #loading{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: inline;
  }
  img{
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
  }

  #Regresar{
    width: 100px;
    margin-top: 20px;
    background-color: #06176f;
    color: white;
    font-size: 35px;
    margin-bottom: 0px;
}



#ContenedorLoading{
    height: 100%;
    width: 100%;
    display: none;
}
#ContenedorGeneral{
    height: 100%;
    width: 100%;
    display: flex;
}
#Contenedor1{
    flex: 2;
    padding-left: 40px;
    background-color: white;
}
#Contenedor2{
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
}

.PerfilesCreados{
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    cursor: pointer;
}

.MostrarLista{
    width: 94%;
    background-color: #f7da83;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0px;
    margin-bottom: 10px;
    color: black;
}

#MostrarUnidadEducativa{
    display: none;
}
#ListaCursosCreados{
    display: none;
}


@media screen  and (max-height:660px){
    #ContenedorGeneral{
        height: auto;
    }
}  

@media screen  and (max-width:1500px){
    #Contenedor1{
        flex: 1.3;
    }
   
}    

@media screen  and (max-width:1000px){
    #ContenedorGeneral{ 
        display: inline-block;
    }
    #Contenedor2{
        height: auto;
    }
}    

@media screen  and (max-width:600px){
    #Contenedor1{
        padding-left: 20px;
        padding-right: 20px;
    }   

    h1{
        font-size: 35px;
       
    }
}    

